@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors and theme variables */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #1a1a1a;
    --primary-foreground: #fafafa;
    --secondary: #f3f3f3;
    --secondary-foreground: #1a1a1a;
    --muted: #f3f3f3;
    --muted-foreground: #8a8a8a;
    --accent: #f3f3f3;
    --accent-foreground: #1a1a1a;
    --destructive: #da2c38;
    --destructive-foreground: #fafafa;
    --border: #e4e4e4;
    --input: #e4e4e4;
    --ring: #999999;
    --radius: 10px;

    --sidebar: #fafafa;
    --sidebar-foreground: #0a0a0a;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f3f3f3;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #e4e4e4;
    --sidebar-ring: #999999;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #1a1a1a;
    --secondary: #2b2b2b;
    --secondary-foreground: #fafafa;
    --muted: #2b2b2b;
    --muted-foreground: #a1a1a1;
    --accent: #2b2b2b;
    --accent-foreground: #fafafa;
    --destructive: #b42424;
    --destructive-foreground: #fafafa;
    --border: #2b2b2b;
    --input: #2b2b2b;
    --ring: #555555;

    --sidebar: #1a1a1a;
    --sidebar-foreground: #fafafa;
    --sidebar-primary: #6464e8;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #2e2e2e;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #2e2e2e;
    --sidebar-ring: #737373;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
